/* 
Author: Susie Stanley
Purpose: Grocery pages styling
*/

.board-container__grocery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.board-container__grocery a {
  align-self: center;
}

.grocery-card-list {
  padding: 20px;
  margin: 0px 0px 20px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  border-radius: 5px;
}

/* start of individual grocery card */
.grocery-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  padding: 0px;
  margin: 10px;
  border-radius: 5px;
  background-color: #c8e6ea68;
}

.grocery-info {
  flex: 1;
  align-self: center;
  padding: 0px 20px;
  white-space: nowrap;
}

.grocery-icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.grocery-details {
  margin: auto 20px;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid rgb(82, 207, 223);
  background-color: #c8e6ea;
  border-radius: 5px;
  white-space: nowrap;
}

.grocery-details a {
  color: #2b2b2b;
  text-decoration: none;
}

.grocery-delete {
  margin: auto 0px;
  padding-top: 6px;
}

.grocery-edit-icon {
  margin: auto 20px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.grocery-edit-icon:hover {
  transform: scale(1.5);
  color: #41c5d8;
}

.grocery-delete-icon {
  margin: 3px 20px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.grocery-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

/* grocery form styling */
.form-grocery {
  font-size: 22px;
  padding: 30px 50px;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  border-radius: 5px;
  border: none;
}

.grocery-item-label {
  margin-right: 10px;
}

/* GroceryPrintCard styling */
.print-page-grocery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 0px 0px 20px 20px;
  padding: 50px 30px 30px;
  margin: 10px 0px;
  min-width: 1800px;
  min-height: 1100px;
}

.print-wrapper-grocery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: fit-content;
  border: 1px solid lightgray;
}

.print-grocery-container {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.print-grocery-info {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.print-header {
  font-size: 28px;
  font-weight: 400;
  margin: 30px auto 0px;
  text-align: center;
}

.print-grocery-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px 0px 10px 0px;
}

.print-grocery-card {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: 20px;
  width: 350px;
  padding: 0px;
  margin: 0px;
}

.print-grocery-text {
  flex: 1;
  margin: 5px;
}

.print-grocery-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.grocery-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: auto 0px;
}

.grocery-check-icon {
  margin: auto auto;
  width: 25px;
  height: 25px;
}

.print-btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.printable-btn {
  align-self: center;
  font-size: 22px;
  font-weight: 500;
  background-color: #c8e6ea;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
}

.print-btn {
  align-self: center;
  font-size: 22px;
  font-weight: 500;
  background-color: #c8e6ea;
  border: 2px solid lightgray;
  border-radius: 5px;
  padding: 3px 15px;
  margin: 40px 20px;
  cursor: pointer;
}

.printable-btn:hover,
.print-btn:hover {
  border: 2px solid darkgray;
  background-color: #c4f7fe;
}
