/* 
Author: Susie Stanley
Purpose: Activity pages styling

Site colors used:
Light Blue: #c8e6ea
Light Blue: #c8e6ea68 (faded)
Dark Blue: rgb(82, 207, 223) Details button border
Red: #D61212
Light Gray: rgba(211, 211, 211, 0.468) Dashboard Connections header
Dark Gray: #2b2b2b font color throughout
Shadow: box-shadow: 5px 5px 5px lightgray;
Bright Blue: #c4f7fe highlights, hover on links, and buttons
*/

.board-container__activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid green; */
}

.upcoming-past-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-upcoming,
.remaining-upcoming,
.past {
  flex-basis: 1;
  padding: 10px 30px 20px;
  margin: 0px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px lightgray;
  /* border: 2px solid black; */
}

.column-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid pink; */
}

.activity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px 30px;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: #c8e6ea68;
  /* border: 1px solid black; */
}

.activity-info {
  padding-bottom: 10px;
  /* border: 3px solid orange; */
}

.activity-wrapper {
  padding: 10px 0px;
}

.no-margin {
  margin: 0px;
}

.activity-inner__left {
  text-align: left;
  font-size: 18px;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid lime; */
}

.address-spacer {
  margin-top: 12px;
}

.note-spacer {
  margin-top: 47px;
}

.left-spacer {
  margin-top: 10px;
}

.right-spacer {
  font-weight: 400;
  margin: 1px 0px 4px;
  padding: 3px 0px 2px;
}

.activity-inner__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 1em;
  margin: 0px 5px;
  max-width: 400px;
  padding-top: 4px;
  /* border: 1px solid pink; */
}

.address-wrapper {
  padding: 5px 0px;
  margin: 5px 0px;
  background-color: white;
  border-radius: 5px;
  /* border: 1px solid pink; */
}

.activity-address__highlight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  padding: 3px 5px;
  margin: 0px 5px;
  /* border: 1px solid blue; */
}

.activity-notes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 225px;
  margin-top: 13px;
  overflow-wrap: break-word;
  /* border: 3px solid purple; */
}

/* needed this extra div to make word wrap work */
.a-text-wrapper {
  margin: 0px;
  width: 100%;
  padding: 0px;
  /* border: 1px solid chartreuse; */
}

.activity-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 8px;
  /* border: 1px solid black; */
}

.activity-edit-icon {
  color: #2b2b2b;
  padding: 0px;
  margin: 0px 15px;
  width: 35px;
  height: 35px;
  transition: all 0.2s ease-in-out;
  /* border: 1px solid red; */
}

.activity-edit-icon:hover {
  transform: scale(1.5);
  color: #41c5d8;
  cursor: pointer;
}

.activity-delete-icon {
  color: #2b2b2b;
  padding: 0px;
  margin: 0px 15px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
  /* border: 1px solid green; */
}

.activity-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
  cursor: pointer;
}

/* tag dropdown styling */
.tag-selection {
  font-size: 22px;
  align-self: center;
}

/* .css-1hb7zxy-IndicatorsContainer {
  font-size: 18px !important;
} */

.dropdown-flex {
  display: flex;
  flex-direction: row;
  align-content: center;
}

/* this controls the dropdown container */
.css-1s2u09g-control {
  /* border: 1px solid hsl(0, 0%, 38%); */
  font-size: 18px; /* CONTROLS INPUT SELECT*/
  color: rgb(230, 230, 230);
  width: 300px;
  box-shadow: none;
  /* outline: rgb(118, 118, 118); */
}

.css-1s2u09g-control:target {
  /* border: 1px solid hsl(0, 0%, 80%); */
  font-size: 18px;
  color: rgb(230, 230, 230);
  width: 300px;
  box-shadow: none;
  /* outline: rgb(118, 118, 118); */
}

.css-1s2u09g-control:focus {
  /* border: 1px solid black; */
  font-size: 18px;
  width: 300px;
  box-shadow: none;
  outline: rgb(118, 118, 118);
}

.css-1s2u09g-control:hover {
  /* border: 1px solid black; */
  font-size: 18px;
  width: 300px;
  box-shadow: none;
  outline: rgb(118, 118, 118);
}

/* this controls vertical line before down arrow and font sizing */
.css-b62m3t-container {
  box-shadow: none;
  font-size: 18px; /* CONTROLS DROPDOWN FONT*/
  margin: 5px;
  /* border: 1px solid red; */
}

.css-b62m3t-container input {
  box-shadow: none;
  font-size: 18px;
  /* border: 1px solid red; */
}

.css-1okebmr-indicatorSeparator {
  align-self: flex-end;
  font-size: 18px;
  /* margin: 16px; */
  box-shadow: none;
}

.css-1pahdxg-control {
  font-size: 18px;
  box-shadow: none;
  outline: none;
  width: 300px;
  /* border: 1px solid red; */
}

.css-1pahdxg-control:focus {
  /* border: 1px solid black; */
  font-size: 18px;
  width: 300px;
  box-shadow: none;
  /* outline: none; */
}

.css-1pahdxg-control:hover {
  /* border: 1px solid darkgray !important; */
  /* border: 1px solid rgb(118, 118, 118) !important; */
  font-size: 18px;
  width: 300px;
  box-shadow: none;
}

.css-1ko62if-control,
.css-1ickqfd-control,
.css-182gzek-menu {
  width: 250px;
}
