/* Author: Susie Stanley
Purpose: Global styling

Colors used:
Light Blue: #c8e6ea
Light Blue: #c8e6ea68 (faded)
Dark Blue: rgb(82, 207, 223) Details button border
Red: #D61212
Light Gray: rgba(211, 211, 211, 0.468) Dashboard Connections header
Dark Gray: #2B2B2B font color throughout
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  box-sizing: border-box;
  margin: 5px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 1800px;
  margin: 0px auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #EEEEEE;
}

#root {
  padding: 0px;
  margin: 0px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
}

/* .paper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
} */

/* all pages use this flex container */
.page {
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: rgb(228, 228, 228);
border-radius: 0px 0px 20px 20px;
padding: 0px 30px 30px;
margin: 15px 5px;
color: #2B2B2B; 
box-shadow: 5px 5px 5px lightgray;

}

.page-title__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px 0px;
  margin: 0px;
  /* border: 1px solid green; */
}

.page-title__left {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid blue; */
}

.welcome-name {
  /* color: #D61212; */
  color: #41C5D8;
  font-size: 22px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

/* all pages use this header title */
.page-title__headline {
  flex: 1;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  /* border: 1px solid black; */
}

.page-title__right {
  flex: 1;
  font-size: 20px;
  font-weight: 400;
  text-align: right; 
  /* border: 1px solid red; */
}

.todays-date {
  text-align: right;
  margin: 0px;
  font-weight: 600;
}

/* all boards use this styling */
.section-flex {
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}

.section-flex__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}

.add-connection,
.add-activity,
.add-note,
.add-grocery,
.add-journal,
.add-todo {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #c8e6ea;
  /* margin-top: 30px; */
}

/* all detail pages use this button styling */
.btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details-btn {
  font-size: 16px;
  padding: 5px 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #c8e6ea;
  /* background-color: #c4f7fe; */
  margin-top: 30px;
}

/* all form buttons use this styling */
.form-btns {
  padding: 0px;
  margin: 0px;
}

.form-btn {
  font-size: 20px;
  font-weight: 600;
  background-color: #c4f7fe;
  border: 1px solid rgba(82, 207, 223, 0.359);
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
}

/* Styling for all Create and Edit forms */
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.form {
  font-size: 22px;
  padding: 30px 50px;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  border-radius: 5px;
  border: none;
}

input {
  font-size: 20px;
  padding: 5px;
  border: 1px solid darkgray;
  border-radius: 5px;
  width: fit-content;
}

input::placeholder {
  color: rgb(198, 198, 198);
  opacity: 1;
}

/* targets date picker font color */
.light-font input {
  color: rgb(171, 171, 171);
}

.dialog {
  width: 600px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 4px solid rgb(82, 207, 223);
  background-color: rgb(234, 246, 247);
  padding: 20px;
  margin: 0px auto;
  margin-top: 800px;
  text-align: center;
}

.connection-dialog {
  margin-bottom: 10px;
  padding: 20px;
}

.button-close {
  font-size: 14px;
  font-weight: 800;
  background-color: rgba(211, 211, 211, 0.708);
  border: 2px solid rgb(82, 207, 223);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 5px 0px;
}