@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  box-sizing: border-box;
  margin: 5px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

html, body {
  width: 1800px;
  margin: 0px auto;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #EEEEEE;
}

#root {
  padding: 0px;
  margin: 0px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid black; */
}

/* .paper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
} */

/* all pages use this flex container */
.page {
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: rgb(228, 228, 228);
border-radius: 0px 0px 20px 20px;
padding: 0px 30px 30px;
margin: 15px 5px;
color: #2B2B2B; 
box-shadow: 5px 5px 5px lightgray;

}

.page-title__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 40px 20px;
  margin: 10px 0px;
  /* border: 1px solid green; */
}

.page-title__left {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  /* border: 1px solid blue; */
}

.welcome-name {
  color: #D61212;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

/* all pages use this header title */
.page-title__headline {
  flex: 1;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  /* border: 1px solid black; */
}

.page-title__right {
  font-size: 20px;
  font-weight: 400;
  text-align: right; 
  /* border: 1px solid red; */
}

.todays-date {
  text-align: right;
  margin: 0px;
  font-weight: 600;
}
