/* 
Author: Susie Stanley
Purpose: Note pages styling
*/

/* NoteBoard Note styling */
.board-container__note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 0px;
  border-radius: 5px;
}

.note-card-list {
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 3px 7px gray;
}

.noteboard-note__wrapper {
  background-image: url("../../images/notecard.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 31px;
  margin: 0px 10px;
  min-width: 350px;
  min-height: 200px;
}

.noteboard-note {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 55px 0px 50px 60px;
}

.noteboard-note__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 8px;
  margin: 0px;
  width: 125px;
  height: 120px;
}

.note-top-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}

.text-wrapper {
  margin: 0px;
  width: 100%;
  padding: 0px;
  overflow-wrap: break-word;
}

.note-bottom-text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  padding: 5px 15px 0px 15px;
  margin: 0px;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}

.note__delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  margin: 0px;
}

button.note-delete {
  flex: 1;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.noteboard-icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
}

.noteboard-checkbox {
  padding-right: 15px;
  margin: 0px;
}

.noteboard-delete {
  margin: auto 0px;
  padding-top: 6px;
}

.noteboard-edit-icon {
  margin: auto 0px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.noteboard-edit-icon:hover {
  transform: scale(1.5);
  color: #41c5d8;
}

.noteboard-delete-icon {
  margin: 0px;
  margin: 0px 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.noteboard-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}
/* end of NoteBoard Note styling */
