/* 
Author: Susie Stanley
Purpose: Sidebar/AppBar styling
*/

.appbar-flex {
  background-color: white;
  padding: 20px 5px;
  margin: 0px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 5px lightgray;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0px 0px;
}

.toolbar-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 30px 0px 20px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 40px;
}

.logo {
  width: 500px;
  margin: auto 0px;
}

.toolbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.user-avatar a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: auto 0px;
}

.avatar {
  margin-right: 20px;
}

.avatar-photo {
  align-self: center;
  margin: 0px 10px;
  border: 3px solid lightgray;
  border-radius: 35px;
  width: 70px;
  height: 70px;
}

.logout {
  margin: auto 20px;
  font-size: 22px;
  font-weight: 500;
  padding: 5px 15px;
  background-color: #c8e6ea;
  border-radius: 5px;
  border: 2px solid lightgray;
  cursor: pointer;
}

.logout:hover {
  border: 2px solid darkgray;
  background-color: #c4f7fe;
}

.menu-bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  font-size: 32px;
  color: #000000;
}

.menu-icon {
  align-self: center;
}

.menu-close {
  margin-left: 20px;
  font-size: 32px;
}

/* start of side menu styling */
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
  position: absolute;
  left: -100%;
  transition: 850ms;
  height: 100%;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 5; /* z-index makes side-menu cover everything behind it (heart checkbox) */
}

.sidebar-white {
  background-color: white;
  height: 100%;
}

.side-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  margin: 0px 5px;
  list-style: none;
  height: 70px;
  width: 280px;
}

.side-text a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 20px;
  border-radius: 4px;
  border: 2px solid lightgray;
}

.side-text a:hover {
  background-color: #c4f7fe;
  border: 2px solid darkgray;
}

.side-menu-items {
  padding: 0px;
  margin: 0px;
}

.sidebar-toggle {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin: 0px 20px;
}

.close {
  color: white;
  width: 30px;
}
