/* 
Author: Susie Stanley
Purpose: Dashboard styling

Site colors used:
Light Blue: #c8e6ea
Light Blue: #c8e6ea68 (faded)
Dark Blue: rgb(82, 207, 223) Details button border
Red: #D61212
Light Gray: rgba(211, 211, 211, 0.468) Dashboard Connections header
Dark Gray: #2b2b2b font color throughout
Shadow: box-shadow: 5px 5px 5px lightgray;
Bright Blue: #c4f7fe highlights, hover on links, and buttons
*/

h2 {
  font-weight: 600;
}

.bold {
  font-size: 20px;
  font-weight: 600;
}

.med-bold {
  font-weight: 500;
}

.dashboard-grid {
  margin: 5px;
}

/* this holds activities, groceries, notes, journal, & todos */
.dashboard-grid__row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  min-width: 1350px;
}

/* this holds activities, groceries, notes, & journal */
.dashboard-grid__row1__col1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid purple; */
}

/* this holds activities & groceries */
.dashboard-grid__row1__col1__row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
}

.activity-container,
.grocery-container,
.journal-container,
.note-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  min-height: 270px;
}

.activity-container a,
.grocery-container a,
.journal-container a,
.note-container a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0px;
}

/* this holds notes & journal */
.dashboard-grid__row1__col1__row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}

/* this holds todos */
.dashboard-grid__row1__col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  /* border: 1px solid black; */
}

.dashboard-grid__row1__col2 a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0px;
}

/* To-Do dash title */
.dashboard-grid__row1__col2 h2 {
  text-align: center;
  margin-bottom: 8px;
}

/* this is outer div of connections */
.dashboard-grid__row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  min-width: 1350px;
  /* border: 3px solid pink; */
}

/* this is inner div of connections */
.dashboard-grid__row2__row1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  min-height: 250px;
  box-shadow: 2px 3px 7px gray;
}

.dashboard-grid__row2__row1 a {
  text-decoration: none;
  color: #2b2b2b;
  margin: 0px;
}

.dashboard-grid__row1__col2 h2 {
  text-align: center;
  margin-bottom: 8px;
}

.dashboard-grid__row2__row1 h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* To-Do Dash styling */
.dash-todo__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
  /* border: 1px solid red; */
}

.dash-todo {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: stretch;
  padding: 10px 20px;
  margin: 8px 0px;
  background-color: #c8e6ea68;
  border-radius: 5px;
}

.dash-todo__col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-todo__col2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: center;
  white-space: nowrap;
  align-self: center;
  margin: 0px;
}

.dash-todo__title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 2px;
  margin: 0px;
  white-space: nowrap;
}

.dash-todo__bywhen {
  font-size: 18px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
}

.dash-todo__bywhen__red {
  font-size: 18px;
  font-weight: 400;
  color: #d61212;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
}

.todo-complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.todo-complete label {
  padding-left: 6px;
}

input.checkbox-todo {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

input.checkbox-todo:hover {
  transform: scale(1.5);
  color: #27c2d7;
}

/* Activity Dash styling */
.dash-activity__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.dash-activity__list a {
  text-decoration: none;
  color: #2b2b2b;
}

.dash-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px;
  margin: 8px 30px;
  background-color: #c8e6ea68;
  border-radius: 5px;
}

.dash-activity__col1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}

.dash-activity__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.dash-activity__name {
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
}

.da-inner__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
}

.da-inner__left {
  font-size: 18px;
  /* font-weight: 800; */
  text-align: left;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
}

.activity-address__highlight {
  background-color: white;
  padding: 0px 5px;
}

.card-spacer {
  padding: 3px 0px;
}

.transparent {
  color: transparent;
}

.da-inner__right {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 0px;
  padding-left: 10px;
}

.dash-activity__col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.activity-delete {
  flex: 1;
  align-self: center;
  border: none;
  background-color: transparent;
  margin: auto auto;
}

.a-delete-icon {
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.a-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

/* Note Dash styling */
.note-container {
  background-image: url("../../images/notecard.svg");
  background-repeat: no-repeat;
  background-position: 40px 25px;
  background-size: 80%;
  /* border: 1px solid black; */
}
.note-container h2 {
  background-color: transparent;
  margin: 5px 5px 0px;
  /* border: 1px solid black; */
}

.note-spacing {
  margin-top: 10px;
}

.dash-note__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 17px;
  /* border: 1px solid red; */
}

.dash-note__wrapper a {
  padding-right: 50px;
  /* border: 2px solid pink; */
  width: 300px;
}

.dash-note {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  padding: 0px;
  min-height: 190px;
  /* border: 2px solid blue; */
}

.dash-note__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 0px;
  width: 200px;
  /* border: 2px solid chartreuse; */
}

.top-text {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  line-height: 1.2;
  margin: 0px 0px 30px;
  width: 100%;
  padding: 0px;
  /* border: 1px solid black; */
}

.dn-text-wrapper {
  margin: 0px;
  width: 100%;
  padding: 0px 10px;
  overflow-wrap: break-word;
  /* border: 1px solid red; */
}

.bottom-text {
  font-size: 18px;
  min-width: 200px;
  text-align: left;
  line-height: 1.2;
  padding: 0px;
  margin: 0px;
  width: 100%;
  /* border: 1px solid aqua; */
}

.dash-note__delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  /* margin: 0px; */
  /* border: 1px solid black; */
}

button.note-delete {
  flex: 1;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.n-delete-icon {
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.n-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

/* Connections Dash styling */
.section-connections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 5px 10px;
  margin: 0px 20px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.dash-connections-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 10px 5px 0px;
  background-color: rgba(211, 211, 211, 0.468);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid red; */
}

.container {
  background-color: white;
  margin: 0px 5px;
  padding: 0px;
  border-bottom: 1px solid gray;
}

.dash-connections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  background-color: #c8e6ea5d;
  /* background-color: transparent; */
  border-top: 1px solid gray;
}

.dc-info {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  margin: 0px 0px 0px 15px;
  /* border: 1px solid blue; */
}

.pic-name {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: nowrap;
  /* border: 1px solid black; */
}

.dc-image {
  width: 60px;
  height: 60px;
  padding: 0px;
  margin: 0px;
}

.connection-photo {
  margin: auto auto;
  border-radius: 30px;
  border: 3px solid white;
  width: 100%;
}

.dc-name {
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  margin: auto 0px;
  white-space: nowrap;
  text-align: left;
}

.dc-name a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 22px;
  font-weight: 500;
  padding-left: 15px;
  margin: auto 0px;
  white-space: nowrap;
  text-align: left;
}

.dc-email {
  flex: 1;
  margin: auto 0px;
  white-space: nowrap;
  text-align: left;
  /* border: 1px solid black; */
}

.dc-phone {
  flex: 1;
  margin: auto 0px;
  white-space: nowrap;
  text-align: left;
  /* border: 1px solid black; */
}

.dc-bday {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: auto 0px;
  white-space: nowrap;
  text-align: left;
  /* border: 1px solid black; */
}

.dc-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 250px;
}

.dc-details {
  margin: auto 0px;
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid lightgray;
  background-color: #c8e6ea;
  border-radius: 5px;
  white-space: nowrap;
}

.dc-details:hover {
  border: 2px solid darkgray;
  background-color: #c4f7fe;
}

.dc-details a {
  font-weight: 500;
  color: #2b2b2b;
  text-decoration: none;
}

.dc-delete {
  margin: auto 0px;
  margin-right: 30px;
  padding-top: 6px;
  /* border: 1px solid black; */
}

.dc-edit {
  margin: auto 0px;
  margin-left: 10px;
  padding-top: 6px;
  /* border: 1px solid black; */
}

.dc-edit-icon {
  margin: auto 10px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.dc-edit-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

.dc-delete-icon {
  margin: auto 10px;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
}

.dc-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

/* Groceries Dash styling */
.dash-grocery__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.dash-grocery {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0px 10px;
  margin: 5px 25px;
  background-color: #c8e6ea68;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.dash-grocery a {
  flex: 4;
  margin: auto 0px;
}

.dash-grocery__col1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  white-space: nowrap;
  padding: 0px;
  /* border: 2px solid green; */
}

.dash-grocery__text {
  align-self: center;
  padding-left: 5px;
  margin: auto 0px;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid black; */
}

.dash-grocery__col2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}

button.grocery-delete {
  align-self: center;
  border: none;
  background-color: transparent;
  padding-top: 5px;
  margin: 0px;
  /* border: 1px solid black; */
}

.grocery-delete-icon {
  transition: all 0.2s ease-in-out;
}

.grocery-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}

.see-more {
  padding: 0px;
  margin: 0px;
}

.see-more a {
  color: #27c2d7;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px 10px;
}

.see-more a:hover {
  color: black;
  background-color: #c8e6ea68;
  border-radius: 10px;
}

/* Journal Dash styling */
.dash-journal__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.dash-journal__list a {
  color: #2b2b2b;
  text-decoration: none;
}

.dash-journal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 7px 10px;
  margin: 6px 25px;
  background-color: #c8e6ea68;
  border-radius: 5px;
  /* border: 1px solid red; */
}

.dash-journal__col1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid green; */
}

.dash-journal__text {
  padding-left: 10px;
  margin: auto 0px;
  text-align: left;
  font-size: 20px;
  /* border: 1px solid black; */
}

.dash-journal__col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

button.journal-delete {
  flex: 1;
  align-self: center;
  border: none;
  background-color: transparent;
  padding-top: 5px;
  margin: 0px auto;
  /* border: 1px solid black; */
}

.journal-delete-icon {
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in-out;
}

.journal-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
}
