.dashboard-grid {

}

.dashboard-grid__row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.dashboard-grid__row1__col1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid purple; */
}

.dashboard-grid__row1__col1__row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid blue; */
}

.activity-container, .grocery-container, .note-container, .journal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  min-height: 270px;
}

.dashboard-grid__row1__col1__row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}

.dashboard-grid__row1__col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 20px 20px;
  margin: 10px;
  border-radius: 5px;
  /* border: 1px solid rgb(155, 155, 155); */
  background-color: white;
  box-shadow: 2px 3px 7px gray;
}

/* To-Do dash title */
.dashboard-grid__row1__col2 h2 {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-grid__row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}

.dashboard-grid__row2__row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  /* border: 1px solid rgb(184, 184, 184); */
  background-color: white;
  height: 250px;
  box-shadow: 2px 3px 7px gray;
}

/* To-Do Dash styling */
.dash-todo__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px 30px;
  margin: 8px 15px;
  /* background-color: 	#F0F0F0; */
  background-color: #c8e6ea68;
}

.dash-todo__col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash-todo__col2 {
  text-align: center;
  white-space: nowrap;
}

.dash-todo__title {
  font-size: 20px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.dash-todo__bywhen {
  font-size: 18px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}

.todo-complete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo-complete label {
  padding-left: 6px;
}

input.checkbox {
  width: 20px;
  height: 20px;
  transition: all .2s ease-in-out;
}

input.checkbox:hover {
  transform: scale(1.5);
  /* color: #D61212; */
}

/* Activity Dash styling */
.dash-activity__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.dash-activity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px 30px;
  margin: 8px 25px;
  background-color: #c8e6ea68;
}

.bold {
  font-size: 20px;
  font-weight: 800;
}

.dash-activity__col1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
}

.dash-activity__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid red; */
}

.dash-activity__name {
  /* padding-left: 6px; */
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
}

.da-inner__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid black; */
}

.da-inner__left {
  font-size: 18px;
  /* font-weight: 800; */
  text-align: left;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid blue; */
}

.activity-address__highlight {
  background-color: #ffffff;
}

.bold {
  font-weight: 800;
}

.transparent {
  color: transparent;
}

.da-inner__right {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  line-height: 1.3em;
  white-space: nowrap;
  margin: 0px;
  padding-left: 10px;
  /* border: 1px solid green; */
}

.dash-activity__col2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.activity-delete, button.note-delete {
  flex: 1;
  align-self: center;
  border: none;
  background-color: transparent;
  margin: auto auto;
}

.delete-icon {
  width: 25px;
  height: 25px;
  transition: all .2s ease-in-out;
}

.delete-icon:hover {
  transform: scale(1.5);
  color: #D61212;
}

/* Note Dash styling */
.note-container {
  padding-bottom: 20px;
}

.dash-note__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}

.note-text {
  background-image: url("../../images/notecard.svg");
  background-repeat:no-repeat;
  min-height: 100%;
  /* border: 1px solid blue; */
}

.dash-note {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 30px;
  margin: 8px 25px;
  height: 100%;
  /* border: 1px solid black; */
}

.dash-note__col1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid pink; */
}

.dash-note__name {
  /* padding-left: 6px; */
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
}

.dash-note__col2 {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  /* border: 1px solid orange; */
}

button.note-delete {
  flex: 1;
  align-self: center;
  border: none;
  background-color: transparent;
  margin: auto auto;
}

