/* 
Author: Susie Stanley
Purpose: To-Do pages styling

Site colors used:
Light Blue: #c8e6ea
Light Blue: #c8e6ea68 (faded)
Dark Blue: rgb(82, 207, 223) Details button border
Red: #D61212
Light Gray: rgba(211, 211, 211, 0.468) Dashboard Connections header
Dark Gray: #2b2b2b font color throughout
Shadow: box-shadow: 5px 5px 5px lightgray;
Bright Blue: #c4f7fe highlights, hover on links, and buttons
*/

.board-container__todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.todo-card-list {
  padding: 30px 20px 20px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  border-radius: 5px;
  border: none;
}

/* start of individual todo card */
.todo-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background-color: #c8e6ea68;
}

.todo-info {
  flex: 3;
  margin: 15px;
  /* border: 3px solid orange; */
}

.todo-section {
  padding: 0px;
  margin: 0px;
  /* border: 2px solid pink; */
}

.todo-title {
  font-size: 22px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  /* border: 1px solid black; */
}

.todo-bywhen {
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  /* border: 1px solid black; */
}

.todo-bywhen__red {
  font-size: 18px;
  color: #d61212;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
  white-space: nowrap;
  /* border: 1px solid red; */
}

.todo-complete {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0px;
  margin: 15px;
  white-space: nowrap;
  /* border: 2px solid yellow; */
}

input.checkbox-todoboard {
  align-self: center;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

input.checkbox-todoboard:hover {
  transform: scale(1.5);
  color: #27c2d7;
}

.todo-complete label {
  font-size: 18px;
  align-self: center;
}

.todo-icons {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0px;
  margin: 15px;
  /* border: 2px solid green; */
}

.todo-delete {
  margin: auto 0px;
  padding-top: 2px;
  /* border: 1px solid black; */
}

.todo-edit {
  margin: auto 0px;
  padding: 0px;
  /* border: 1px solid black; */
}

.todo-edit-icon {
  color: #2b2b2b;
  margin: auto 20px;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in-out;
}

.todo-edit-icon:hover {
  transform: scale(1.5);
  color: #41c5d8;
  cursor: pointer;
}

.todo-delete-icon {
  color: #2b2b2b;
  margin: auto auto;
  width: 28px;
  height: 28px;
  transition: all 0.2s ease-in-out;
}

.todo-delete-icon:hover {
  transform: scale(1.5);
  color: #d61212;
  cursor: pointer;
}

/* todo form styling */
.todo-form {
  font-size: 22px;
  padding: 30px 50px;
  margin: 10px;
  background-color: white;
  box-shadow: 2px 3px 7px gray;
  border-radius: 5px;
  border: none;
}
