/* 
Author: Susie Stanley
Purpose: Login & Register pages styling

Site colors used:
Light Blue: #c8e6ea
Light Blue: #c8e6ea68 (faded)
Dark Blue: rgb(82, 207, 223) Details button border
Red: #D61212
Light Gray: rgba(211, 211, 211, 0.468) Dashboard Connections header
Dark Gray: #2b2b2b font color throughout
Shadow: box-shadow: 5px 5px 5px lightgray;
Bright Blue: #c4f7fe highlights, hover on links, and buttons
*/

.container-login {
  margin: 200px auto;
}

.dialog {
  padding: 30px 20px 20px;
  margin-top: 10px;
  border: 2px solid rgb(82, 207, 223);
}

.dialog-auth {
  border: 2px solid rgb(82, 207, 223);
}

.login-dialog {
  margin: 0px 20px;
  /* border: 2px solid red; */
}

.login-button-close {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 30px;
  border: 1px solid rgb(82, 207, 223);
  background-color: #c4f7fe;
  border-radius: 5px;
}

form {
  background-color: #c8e6ea68;
}

.login-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: none;
  border-radius: 5px;
  background-color: #c8e6ea68;
}

.form-login {
  background-color: white;
  box-shadow: 5px 5px 5px lightgray;
  text-align: center;
  padding: 5px 40px 40px;
  margin: 20px;
  border: transparent;
  border-radius: 5px;
}

.form-login__headline {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin: 20px;
}

.form-login__subtitle {
  text-align: center;
  font-size: 34px;
  margin: 20px;
}

.login-label {
  margin: 0px 10px;
  font-size: 24px;
  font-weight: 500;
}

.login-indent {
  margin-left: 30px;
}

.login-btn {
  font-size: 18px;
  font-weight: 600;
  background-color: #c4f7fe;
  border: 1px solid rgba(82, 207, 223, 0.359);
  border-radius: 5px;
  padding: 6px 15px 5px;
  margin: 0px 10px;
  cursor: pointer;
}

.link-register {
  text-align: center;
}

.link-register a {
  color: rgb(82, 207, 223);
  font-size: 20px;
  text-decoration: none;
}

/* styling for register page */
.form-register__headline {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  margin: 20px;
}
